In [5]:
#Importing library called statistics which helps in calculating mathematical data
import statistics 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sorts age list in ascending order by default
ages.sort()
print ("Sorted age:", ages) # Displays sorted values
# Minimum age
# Displays min value as we used min() method
print ("Min age:", min(ages)) 
# Maximum age
# Displays max value as we used max() method
print ("Max age:", max(ages)) 
# Adding again min and max values so we use append() method to insert values to the list
ages.append(min(ages)) 
ages.append(max(ages))
print ("Added min and max values again:",ages) #Displays the list again with new values
# Median
mdn_age = statistics.median(ages)
print ("Median age:", mdn_age)
# Average age
average= sum(ages)/len(ages)
print ("Avg of the given list = ", average)
# Range
rng=max(ages)-min(ages)
print ("Range = ", rng)

Sorted age: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Added min and max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Avg of the given list =  22.75
Range =  7

In [9]:
# Dog dictionary is created with given key and values
dog = {'name':'kitty','color':'white','breed':'dalmatian','legs':'4','age':'3'}
print ("Dog Dictionary Created:",dog)
# Student dictionary is created with given key and values
student = {'first_name':'devi satyasri','last_name':'gundumogula','Gender':'Female','age':'22','marital_status':'single',
'skills':'dancer','Country':'India','City':'bhimavaram','Address':'1/32/6'}
print ("Student Dictionary Created:",student) 
# Create another dictionary for skills
skills = {'dancer':'1','singer':'2','writer':'3'}
print ("Skills Dictionary Created:",skills)
# Find the length of student dictionary
print ("Length of student:", len(student))
# Check the datatype of skills
print ("Datatype fo skills:",type(skills))
# Get values of skills dictionary
print ("Values of skills:",skills.values())
# Add one item to skills
skills['Team Work'] = 4
print ("New skill added:",skills)
print ("Dog keys:",dog.keys()) 
print ("Student values:",student.values())

Dog Dictionary Created: {'name': 'kitty', 'color': 'white', 'breed': 'dalmatian', 'legs': '4', 'age': '3'}
Student Dictionary Created: {'first_name': 'devi satyasri', 'last_name': 'gundumogula', 'Gender': 'Female', 'age': '22', 'marital_status': 'single', 'skills': 'dancer', 'Country': 'India', 'City': 'bhimavaram', 'Address': '1/32/6'}
Skills Dictionary Created: {'dancer': '1', 'singer': '2', 'writer': '3'}
Length of student: 9
Datatype fo skills: <class 'dict'>
Values of skills: dict_values(['1', '2', '3'])
New skill added: {'dancer': '1', 'singer': '2', 'writer': '3', 'Team Work': 4}
Dog keys: dict_keys(['name', 'color', 'breed', 'legs', 'age'])
Student values: dict_values(['devi satyasri', 'gundumogula', 'Female', '22', 'single', 'dancer', 'India', 'bhimavaram', '1/32/6'])

In [10]:
my_sisters = ('vijay lakshmi', 'sahithi','ramya','keerthi') 
my_brothers = ('Gopi','venkat','satish','akhil')
# Create another tuple as siblings and join the sister’s and brother’s tuple
siblings = my_sisters + my_brothers
# Displays siblings’ output and length of siblings
print("Siblings:", siblings)
print("Length of Siblings:", len(siblings))
# Create another tuple as family_members and add father and mother name to it
family_members = siblings + ('krishna','usha rani')
# Displays the family_members output
print("Family_members:",family_members)

Siblings: ('vijay lakshmi', 'sahithi', 'ramya', 'keerthi', 'Gopi', 'venkat', 'satish', 'akhil')
Length of Siblings: 8
Family_members: ('vijay lakshmi', 'sahithi', 'ramya', 'keerthi', 'Gopi', 'venkat', 'satish', 'akhil', 'krishna', 'usha rani')

In [12]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of it_companies:", len(it_companies))
#Add twitter
it_companies.add('Twitter')
print("After adding another item:",it_companies)
#Add multiple it_companies
it_companies.update({'Infosys','Capgemini','Wipro','TCS'})
print("After adding multiple items:",it_companies)
#Remove
it_companies.remove('TCS')
print("After removing one company:",it_companies)
it_companies.discard('TCS')
print("After discarding company:",it_companies)
#Join A & B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27} 
print("Join A and B:", A.union(B))
#Intersection
print("Intersection of A and B:", A.intersection(B))
#Subset
print("Subset of A and B:", A.issubset(B))
#Disjoint
print("Disjoint:", A.isdisjoint(B))
#Convert list to set
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Converting list to set:", set(age))
#Length of set
print("Length of set:",len(set(age))) 
#Length of list
print("Length of list:",len(age))
#Symmetric diff- returns values which are not in common with other set
print("Symmetric diff:",A.symmetric_difference(B))
#delete set 
A.clear()
print(A) 
B.clear()
print(B)

Length of it_companies: 7
After adding another item: {'Google', 'Apple', 'Twitter', 'Oracle', 'Facebook', 'Microsoft', 'IBM', 'Amazon'}
After adding multiple items: {'Apple', 'Oracle', 'Facebook', 'IBM', 'Infosys', 'Wipro', 'Google', 'Twitter', 'TCS', 'Capgemini', 'Microsoft', 'Amazon'}
After removing one company: {'Apple', 'Oracle', 'Facebook', 'IBM', 'Infosys', 'Wipro', 'Google', 'Twitter', 'Capgemini', 'Microsoft', 'Amazon'}
After discarding company: {'Apple', 'Oracle', 'Facebook', 'IBM', 'Infosys', 'Wipro', 'Google', 'Twitter', 'Capgemini', 'Microsoft', 'Amazon'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Subset of A and B: True
Disjoint: False
Converting list to set: {19, 22, 24, 25, 26}
Length of set: 5
Length of list: 8
Symmetric diff: {27, 28}
set()
set()

In [13]:
r = int(input("enter r:"))
# Calculate area of circle and circumference of circle
area_of_circle = 3.14*r*r 
circum_of_circle = 2*3.14*r
# Display area of circle and circumference of circle
print("Area of Circle:",area_of_circle)
print("Circumference of Circle:",circum_of_circle)

enter r:30
Area of Circle: 2826.0
Circumference of Circle: 188.4

In [20]:
str= "I am a teacher and I love to inspire and teach people"
print(str)
set_str=set(x)
print(set_str)
print ("number of unique words in given sentence is: %s"% len(set_str))

I am a teacher and I love to inspire and teach people
{'love', 'to', 'teach', 'and', 'I', 'teacher', 'people', 'inspire', 'am', 'a'}
number of unique words in given sentence is: 10

In [21]:
a= "Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki"
print(a)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [31]:
raduis=10
area=3.14*raduis**2
print('the radius of a circle with raduis {} is {:.0f} meters square.'.format(raduis,area))

the radius of a circle with raduis 10 is 314 meters square.

In [33]:
L1=[int(num) for num in input().split(" ")]
#Creating another list called W_kg
W_kg=[] 
#Using for loop to iterate the values and appending the list
for i in L1:
 W_kg.append(round(i/2.205,2))
#Displaying the values in kgs after conversion
print ("Values are:",W_kg)

150 155 145 148
Values are: [68.03, 70.29, 65.76, 67.12]